@font-face {
    font-family: 'Netflix';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix';
    src: url('../../fonts/AvenirNextLTPro-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

.credits {
    font-family: system-ui;
    background: #212429;
    font-size: 11px;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
  }
  .credits a {
    color: #F865B0;
    text-decoration: none;
  }

body {
  background: black;  
  color: white;
  margin: 0;
  font-family: Netflix;
}

.header {
    /* border: 1px solid purple; */
    padding: 15px;
    position: relative;
    z-index: 2;
    background-image: linear-gradient(to bottom, black 0%, black 80%, transparent 100%);
}

a {
    color: white;
    text-decoration: none;
}

.navigation {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}

.navigation-item {
    list-style: none;
    /* border: 1px solid yellow; */
    text-align: center;
}

.featured {
    margin-top: -50px;
}